:root {
  --menu-color: #f8f9fb;
  --menu-text-color: #515E83;
  --highlight-color: rgb(43, 62, 177);
  --el-color-primary: rgb(43, 62, 177);
  --common-border: 1px solid #e3e3e3;
}
.el-button--primary {
  --el-button-hover-border-color: rgb(43, 62, 177);
  --el-button-hover-bg-color: rgb(43, 62, 177);
}
.el-date-editor.el-input, .el-date-editor.el-input__wrapper {
  --el-date-editor-width: 100%;
}
.el-upload--picture-card {
  --el-upload-picture-card-size: 90px !important;
}
.el-upload-list--picture-card {
  --el-upload-list-picture-card-size: 90px !important;
}
.el-message {
  --el-message-bg-color: #ffffff;
  --el-message-border-color: #e3e3e3
}